<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
  <meta name="author" content="Creative Tim">
  <title>house recommender</title>
  <!-- Extra details for Live View on GitHub Pages -->
  <!-- Canonical SEO -->
  <!--<link rel="canonical" href="https://www.creative-tim.com/product/argon-dashboard">-->
  <!--  Social tags      -->
  <meta name="keywords" content="dashboard, bootstrap 4 dashboard, bootstrap 4 design, bootstrap 4 system, bootstrap 4, bootstrap 4 uit kit, bootstrap 4 kit, argon, argon ui kit, creative tim, html kit, html css template, web template, bootstrap, bootstrap 4, css3 template, frontend, responsive bootstrap template, bootstrap ui kit, responsive ui kit, argon dashboard">
  <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="Argon - Free Dashboard for Bootstrap 4 by Creative Tim">
  <meta itemprop="description" content="Start your development with a Dashboard for Bootstrap 4.">
  <meta itemprop="image" content="https://s3.amazonaws.com/creativetim_bucket/products/96/original/opt_ad_thumbnail.jpg">
  <!-- Twitter Card data -->
  <!--<meta name="twitter:card" content="product">-->
  <!--<meta name="twitter:site" content="@creativetim">-->
  <!--<meta name="twitter:title" content="Argon - Free Dashboard for Bootstrap 4 by Creative Tim">-->
  <!--<meta name="twitter:description" content="Start your development with a Dashboard for Bootstrap 4.">-->
  <!--<meta name="twitter:creator" content="@creativetim">-->
  <!--<meta name="twitter:image" content="https://s3.amazonaws.com/creativetim_bucket/products/96/original/opt_ad_thumbnail.jpg">-->
  <!-- Open Graph data -->
  <meta property="fb:app_id" content="655968634437471">
  <meta property="og:title" content="Argon - Free Dashboard for Bootstrap 4 by Creative Tim">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://demos.creative-tim.com/argon-dashboard/index.html">
  <meta property="og:image" content="https://s3.amazonaws.com/creativetim_bucket/products/96/original/opt_ad_thumbnail.jpg">
  <meta property="og:description" content="Start your development with a Dashboard for Bootstrap 4.">
  <meta property="og:site_name" content="Creative Tim">
  <!-- Google Tag Manager -->
    
   
  
  <!-- End Google Tag Manager -->
  <!-- Favicon -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <link href="../../assets/img/brand/favicon.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="../../assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="../../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="../../assets/css/argon.min.css?v=1.0.0" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css">
 
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" ></script>
<script src="/js/lib/moment.js"> </script>
<script src="/js/lib/deparam.js"> </script>
<script src="/socket.io/socket.io.js"> </script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
        crossorigin="anonymous"></script>

<!--custom scrollbar-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css">
 <link type="text/css" href="/index.css" rel="stylesheet">
<style>
  @import url(https://fonts.googleapis.com/css?family=Work+Sans:300);

* {
  margin: 0;
  padding: 0;
}
*::after, *::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  height: 100%;

}
body {
  font-family: 'Work Sans', sans-serif;

  background: linear-gradient(0deg,rgba(0, 41, 51, 0.50),rgba(0, 41, 51, 0.50)),url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=37c91c8e3f63462e0739c676dfe8fee8&auto=format&fit=crop&w=1050&q=80) no-repeat center center fixed;
    background-attachment: fixed;
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header {
  text-align: right;
  padding: 20px 10px;
  position: relative;
}

    .hamburger {
      width: 40px;
      height: 28px;
      position: relative;
      cursor: pointer;
      display: inline-block;
      z-index: 100;
     
}

    }
.hamburger {
  width: 40px;
  height: 28px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  z-index: 100;
}
.hamburger span {
  background: #fff;
  display: block;
  position: absolute;
  height: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  -moz-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  -o-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  opacity: 1;
  width: 100%;
  left: 0;
}
.hamburger span:nth-child(1) {
  top: 0px;
}
.hamburger span:nth-child(2) {
  top: 14px;
}
.hamburger span:nth-child(3) {
  top: 26px;
}
.hamburger.open span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.hamburger.open span:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.menu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #191414;
  opacity: 0;
  visibility: visible;
  z-index: 99;
  text-align: center;
  display: table;
  -webkit-transition: visibility 0.5s ease, opacity 1s ease;
  -moz-transition: visibility 0.5s ease, opacity 1s ease;
  -o-transition: visibility 0.5s ease, opacity 1s ease;
  transition: visibility 0.5s ease, opacity 1s ease;
}
.menu-overlay.open {
  opacity: 1;
  visibility: visible;
}
.nav {
  display: table-cell;
  vertical-align: middle;
}
.nav li {
  margin: 20px 0;
  -moz-transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.open .nav li {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.open .nav li:nth-child(1) {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}
.open .nav li:nth-child(2) {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}
.open .nav li:nth-child(3) {
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}
.open .nav li:nth-child(4) {
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}
.open .nav li:nth-child(5) {
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
}
.open .nav li:nth-child(6) {
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}
.open .nav li:nth-child(7) {
  -webkit-transition-delay: 700ms;
  transition-delay: 700ms;
}
.open .nav li:nth-child(8) {
  -webkit-transition-delay: 800ms;
  transition-delay: 800ms;
}
.nav a {
  display: block;
  color: #fff;
  font-size: 32px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav a:hover{
  opacity: 0.6;
}
@import url(https://fonts.googleapis.com/css?family=Work+Sans:300);
.paper-background {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

.paper-background:before, .paper-content:before {
  -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

body,
.content,
.paper-date,
.paper-name {
  font-family:'Work Sans', sans-serif;
  font-size: 18px;
}

body {
  margin: 0 auto;
  padding: 30px;
  width: 960px;
  color: #333;
  font-weight: 300;
  letter-spacing: 1px;
  ba
}
body ::-moz-selection {
  /* Code for Firefox */
  color: #333;
  background: yellow;
}
body ::selection {
  color: #333;
  background: yellow;
}

p {
  line-height: 24px;
  text-indent: 1.6666666667em;
}

.coffee-stain {
  content: " ";
  display: inline-block;
  position: absolute;
  bottom: -24px;
  right: -24px;
  z-index: 6;
  opacity: .35;
  width: 200px;
  height: 200px;
  background-image: url(https://openclipart.org/image/800px/svg_to_png/185884/coffeering.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 200px 200px;
}

.paper-background {
  display: block;
  float: left;
  position: relative;
  z-index: 1;
  margin: 0;
  padding-top: 75px;
  width: 100%;
  height: auto;
  background-color: #f9f9f9;
  overflow: hidden;
}
.paper-background:before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 96px;
  left: 24px;
  z-index: 3;
  width: 24px;
  height: 24px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.paper-background:after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 96px;
  z-index: 3;
  width: 4px;
  height: 100%;
  border-left: 4px double #fca1a1;
}

.paper-content {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 48px 120px 24px;
  height: auto;
  background: repeating-linear-gradient(to bottom, #f9f9f9, #f9f9f9 23px, #6BA2D8 1px, #f9f9f9);
  background-size: 100% 24px;
  line-height: 24px;
}
.paper-content:before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 384px;
  left: 24px;
  z-index: 3;
  width: 24px;
  height: 24px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.paper-content:after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: -75px;
  bottom: 0;
  right: 96px;
  z-index: 4;
  width: 4px;
  height: 1000%;
  border-left: 1px solid #fca1a1;
}
.activeLink{
  color:red;
}
.top{
    position: absolute;
  z-index: 5;
  width: 100%;
  background-color:;
  font-size: 20px;
  border: none;
  vertical-align: baseline;
  margin:-3.7em 1em 0em 5em;
}
.paper-name,
.paper-date {
  position: absolute;
  z-index: 5;
  width: 300px;
  background-color: transparent;
  font-size: 20px;
  border: none;
  vertical-align: baseline;
}
.paper-name:focus,
.paper-date:focus {
  outline: none;
}

.paper-name {
  left: 120px;
}

.paper-date {
  right: 120px;
  z-index: 5;
  text-align: right;
}@import url(https://fonts.googleapis.com/css?family=Work+Sans:300);
.center{
    text-align:center;
    margin:0 auto;
}
.homeText{
    margin-top:20em;
    color:#ffffff;
}
@media (max-width: 768px) { 
.homeText{
    margin-top:10em;
    
}
}
.homeText h3{
    font-weight: 700;
    font-size: 3em;
}
/**************/
/**************/
/*nav bar css*/
/**************/
.navbar{
    background-color:#191414 ;
    color:#191414;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border:2px solid #f8f9fa;
}
.navbar-light .navbar-toggler-icon {
    background-image:  url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-light .navbar-brand {
    color:#ffffff;
    font-weight: 700;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show{
    color: #1db954;
    border:0;
    font-size:24;
}
/* .navbar-light .navbar-nav .show>.nav-link{}*/
.navbar-light .navbar-nav .nav-link{
    color:#fff;
     margin-right: 3em;
     font-size: 24px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #1db954;
     border: 0;

    margin-right: 3em;
   
}
.hoverDisplay:hover .hoverContent {display: block;}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
     border: 0;
     border-radius: 0rem;
}
/********************/
/********************/
/*template theme csss*/
/**********************/
/*******/
/***My a ccount**/
/*************/
.desktop{
    height:100%;
    margin: 0em 1em 0em;
}
.deskHead{
    background-color: #e6e6e6;
    height:4em;

}
.deskHead p{
    color:#1db954;
    font-size:1.9em;
    font-weight:600;
}
.deskBody {
       background-color:#ffffff;
       margin:3em 0 2em;
       height:30em;
       padding:2em;
}
.deskBody h3{
        color:#1db954;
        font-size:1.5em;
}
.deskBody .form-control{
    border-radius:0;
    border:1;
  
    
}
.deskOuter{
    padding:1em 3em 1em;
    
}
.desktopSide, .desktopMain{
    margin:5em 0 5em;
}
.desktopSide{
    background-color:#141419;
     height:50em;
     width:100%;
}
.desktopMain{
        background-color:#e6e6e6;
         height:50em;
         width:100%;
         padding:0;
}
.desktopSide{
    padding:0;
}
.desktopSide .list-group-item{
    color:#fff;
     border-top-right-radius: 0rem; 
     border-top-left-radius: 0rem; 
     background-color:#141419 ;
}.desktopSide .list-group-item:first-child {

     border-top-right-radius: 0rem; 
     border-top-left-radius: 0rem; 
}
.desktopSide .list-group-item:last-child {
    margin-bottom: 0;
     border-bottom-right-radius: 0rem; 
     border-bottom-left-radius: 0rem; 
}

.desktopSide .list-group-item,.list-group a:focus, .list-group a:hover{
    text-decoration:none;
   
}
.desktopSide .activeItem{
    color:#1db954;
    border-left:5px solid #1db954;
}
.avatar{
    text-align:center;
    font-size:100;
    padding:0.4em 0em;
    
}
.spotify, .spotify:hover{
    background-color: #1db954;
    color:white;
    border:0;
    border-radius:1em;
    font-weight:700;
    font-size: 0.9em;
    text-transform:uppercase;
}
.spotifyCancel {
    background-color: #ffffff;
    color: #000;
    border: 0;
    border-radius: 1em;
    font-weight: 700;
    font-size: 0.9em;
    text-transform: uppercase;
    width:6em;
}
.spotifyCancel:hover{
    background-color: #191414;
}
.spotifyDelete, .spotifyDelete:hover , .spotifyDelete:focus{
      background-color: ca0000;
    color:white;
    border:0;
    border-radius:1em;
    font-weight:700;
    font-size: 0.9em;
    text-transform:uppercase;
}
@media only screen and (max-width: 576px){
    .desktopSide, .desktopMain{
    margin:5em 0 5em;
}
.desktopSide{
    background-color:#141419;
     height:18em;
     width:100%;
}
.desktopSide .avatar{
    display:none;
}
.desktopMain , .desktopSide{
 margin-top:10px;   
 margin-bottom:10px;
}
}
/***********/
/***********/
/*app css***/
/***********/
body{
    background-color: 1db954;
      font-family: 'Work Sans', sans-serif;

  background: linear-gradient(0deg,rgba(0, 41, 51, 0.50),rgba(0, 41, 51, 0.50)),url(https://images.unsplash.com/photo-1518081461904-9d8f136351c2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a815e999d0f593c8c8bbcb6473b0d39&auto=format&fit=crop&w=1377&q=80) no-repeat center center fixed;
    background-attachment: fixed;
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media only screen and (min-width: 576px){
    
    
    .appOuter{
         padding: 1em;
    background-color: #e6e6e6;
         padding-bottom: 30px;
         height:100%;
    }
    .appContent{
          height:100%;
    margin: 0em 1em 0em;
    }
    .appSide, .appOuter{
        margin:5em 0em 5em;
    }
    .appSide{
     background: #191414;
     height:100%;
     width:100%;
    }
    
    .appSide{
    padding:0;
    }
    .appSide .list-group-item:first-child {
    
         border-top-right-radius: 0rem; 
         border-top-left-radius: 0rem; 
    }
    .appSide .list-group-item:last-child {
        margin-bottom: 0;
         border-bottom-right-radius: 0rem; 
         border-bottom-left-radius: 0rem; 
    }
    .appSide .list-group-item{
        color: #ffffff;
        background-color:transparent;
        border:0px ridge   black;
      font-size:24;
    }
    .appSide .list-group-item:hover{
        color: #ffffff;
        background-color:transparent;
        border:0px ridge   black;
        text-decoration:none;
    }
    .appSide a{
          text-decoration:none;
    }
    .appSide .activeItem, .appSide .list-group-item:hover{
        color:#1dba59 ;
        border-left:5px solid #1dba59;
    }
    .appSideMobile{
 display:none;
    }

}
/* End of min or max-width**/
@media only screen and (max-width: 576px){
     .appOuter{
                padding: .3em;
    background-color: #e6e6e6;
         height:600px;
         overflow-y: auto;
         padding-bottom:15px;
    }
   .appSide{
   display:none;
    } 
    .appSideMobile{
        background: #191414;
     width:100%;
     padding:0;
     color:fff;
     margin-top:10px;
    }
    .appSideMobile h4{
 
     color:#191414;
    height:35px;
    margin-:0;
    padding-top: 10px;
    line-height:30px;
    }.appSideMobile a{
  
     color:#ffffff;
      text-decoration:none;
    }
    .appSideMobile .list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    /* margin-bottom: -1px; */
     background-color:#191414; 
     border: 1px solid rgba(0,0,0,.125); 
     border-radius:0;
     
    }
    .appSideMobile .activeItem, .appSideMobile .list-group-item:hover {
     color:#1dba54 ;
        border-left:5px solid #1dba54;
       
    }
    #caret{
        float:right;
        padding-right:14px;
        padding-left:9px;
    
        height:35px;
    }
    .searchDisplay {
   
    height: 70%;
    width: 100%;
    margin: 1em 0!important;
    padding: 0em;
    overflow-y: auto;
    }
    .bid, .placed {
       width:100%;
    }
    
}
/* End of min or max-width**/
 /*APP EJS*/  
     .bgWhite{
         padding:1em;
         background-color: #ffffff;
     }
    .searchHead{
       
    background-color: #22dd64;
    height:10%;
    border-bottom:0px solid #bfbfbf;
       
    }
    .searchBox{
        
        background: #e6e6e6;
        width:100%;
        color:  #2a2222;
        height:100%;
        border:1px solid #ced4da;
        padding:.5em 1em ;
        caret-color: #1db954;
        font-weight:700;
        font-size:1.6em;
        
         
    }
    
 .searchHead input::-webkit-input-placeholder {
  color:#495057;
     line-height: 1.6;
        font-family: FontAwesome,  'Work Sans', sans-serif;
   
}
 .searchHead input:-moz-placeholder {
     color:#495057;
     line-height: 1.6;
        font-family: FontAwesome,  'Work Sans', sans-serif;
}
 .searchHead input::-moz-placeholder  {
     color:#495057;
     line-height: 1.6;
        font-family: FontAwesome,  'Work Sans', sans-serif;
}
 .searchHead input:-ms-input-placeholder  {
    color:#495057;
     line-height: 1.6;
        font-family:  FontAwesome,  'Work Sans', sans-serif;
}
    .searchDisplay{
     
        max-height: 60%;
        width:100%;
           margin:  0;
        padding: 0em;
        overflow-y: auto;
        } 
        .inboxDisplay{
      background: #189a46;
        height: 88%;
        width:100%;
           margin: -1em 0;
        padding: 2em;
        overflow-y: auto;
        }
    .jobContent{
       display: inline-block;
       width:100%;
       background-color: #e6e6e6;
       color:#191414;
       padding-bottom:10px;
    } 
    .jobContent:nth-of-type(even){
        background-color: #dee2e6;
    }
    .jobContent img{
        float:left;
        margin:1em;
        margin-bottom:2em;
        height:4em;
        
    }    
    .jobTitle{
         
        font-weight:700;
        font-size:24;
    }
    .jobSub, .jobDescription{
       
        
    } 
      .bid, .placed{
         float:right;
          
         padding:0;
         height:30px;
      } 
      .placed{
         
       
        
      }
    .bid .btn , .placed .btn{
    background-color: transparent;
    border-radius:0 ;    
    border:0;
    background-color:#191414;
    padding: .215rem .75rem;
    width: 8em;
    float:right;
    }
    .bid .btn:focus , .placed .btn:focus{
    background-color: transparent;
    border-radius:0 ;    
    border:0;
    background-color:#191414;
    padding: .215rem .75rem;
    }

.category{
   

  display:inline-block;

}
.category a{
    text-decoration: none;
    display:inline-block;
    margin:0em .51em;
    color:#495057;
    font-weight: bold;
    font-size:12px;
    width:12.1em;
     
}
.category a:hover,.category li .active{
   color:#1db954;
    border-bottom: 3px solid #1db954;
    border-radius:0;
     
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color:#1db954;
     background-color:transparent; 
}

#jobs{
    padding:center}
.none{
    display:none;
}
/*************/
/**inbox css**/
/*************/
.titleGreen{
    color:#1db954;
}
.boxMsgs{
    overflow:hidden;
    height:100%;
    background-color:transparent;
     overflow-y: auto;

}
.bidMessages{
     background-color:transparent;
     height: 13.19em;
     overflow-y: auto;
}
.msg{
    padding:10px;
    width:100%;
    background-color: #ffffff;
    display:inline-block;
    font-size:12px ;
}

.msg:nth-of-type(even) {
    background-color: #e6e6e6;
}
.msg h4{

    font-size:0.9em ;
}
.bidNotifMessage{
    
    float:left;
}
.msg .btnGroup {

   display:inline-block;
   width:100%;
}
.msgTime{
    float:right;
    color: #191414;
    margin-right:0;
}
.preview{
    
    background-color:#191414;
    border-radius:0;
    border:0;
    margin-right: 2;
}
.preview:hover{
    
    background-color:#191414;
    border-radius:0;
    border:0;
    margin-right: 2;
    font-size:1.1em;
}
.snippet{
    padding:10px;
    width:100%;
    background-color: #ffffff;
    display:inline-block;
    font-size:14px ;
    
}
.snipName {
    float: left;
    height: 4em;
  
}
.snipText{
    float:left;
    color:#000000;
    padding-left:1em;
}
.tmsg{
    height:10.29em;
   overflow-y: auto;
}
.eachTMsg{

    padding:5px;
    width:70%;
     background-color: #e6e6e6;
    display:inline-block;
    font-size:14px ;
    margin-bottom: 2px;
}
.eachTMsgMe {
    background-color: #e6e6e6;
    float:right;
     margin-bottom: 2px;
       padding:5px;
    width:70%;
     background-color: #e6e6e6;
    display:inline-block;
    font-size:12px ;
}
.tSend{
    width:100%;
}
.tInline{
     display:inline-block;
    width:100%;
   
   
}
.tSubmit{
    float:right;
    width: 28%;
    border-radius: 0;
    background-color:  #191414;
    border:0;
}
.tTextArea{
float:left;
    width: 70%;
}
.card{
    border-radius:0;
}
.card-header{
    padding:0;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: .2rem;
    height:13.8em;
     display:inline-block;
      width:100%;

}
.snipButton{
    padding:0;
    border:0;
    width:100%;
}
.onlineStatus{
    float:right;
    color: #191414;
   
    margin-right:1em;
}
.onlineGreen{
     color:#1cb050;
}
/*************/
/**preview css**/
/*************/
.pdisplay{
 
   background-color:#ffffff;
   height: 100%;
    overflow-y: auto;
}
.pDisplay a{
    text-decoration: none;
       color: #1db954;
}
.pBack{
    text-align:right;

    padding:10px;
}
.pImage{
    margin:0 13%; 
    width:73%;
    height:40%;
  
}
.pClick{
    margin:0 17%; 
    width:65%;
    color:#fff;
    font-size:.8em;
 
  
}
.pImageModal{
    
    width:100%;
    height:100%;
  
}
.pDescrition{
    padding-top: 10px;
    padding-left: 13%;
    padding-right: 13%;
    width:100%;
      padding-bottom: 50px;
         display:inline-block;
         background-color:#e9ecef ;
         
}
.statusRight{
    float:right;
}
.pBtns {
    background-color: #191414;
    border-radius: 0;
    border: 0;
  
}
.bidderBtn{
    border-radius: 0;
    padding:0;
    border:0;
    width:60px;
    margin-left:10px;
    background-color:  #191414;
}
.bidderBtnD{
    border-radius: 0;
    padding:0;
    border:0;
    width:60px;
   
    background-color: firebrick;
}
.bidderBtnD:first{
     margin-left:10px;
}
.btnDel{
     background-color: firebrick;
}
.modal-body, .modal-header {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    background-color: #ffffff;
}
.modal-header {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0rem 1rem;
    border-bottom: 0;
    background-color: #ffffff;
}
.bidsDisplay{
    background-color:  #ffffff;
    display:inline-block;
       width:100%;
       padding:1em;
       margin-bottom: 6px;
}
.bidsEach:nth-of-type(even){
    display:inline-block;
    width:100%;
    margin-bottom: 0px;
    background-color:  #189a46;
}
.bidsRight{
    float:right;
 
}
.bidInPreview input::-webkit-input-placeholder {
  
   font-family: FontAwesome,  'Work Sans', sans-serif;
}
.bidAmountInput, .bidAmountInput:hover,.bidAmountInput:focus {
    background-color: #ffffff;
    border:0;
    border-radius:0;
    color:#191414;
    width:9.6em;
}
.modal-dialog{
    max-width: 100% !important;
}
/***************/
/**new job css **/
/****************/
.postWrap{
    background-color:#ffffff;
    padding:1em;
    height:100%;
}
.newForm{
    width:60%;
    margin:0 auto;
}
.newForm .form-control{

    border-radius:0;
    color:#191414;
}
.newForm input::-webkit-input-placeholder {
    color:#191414;
   font-family: FontAwesome,  'Work Sans', sans-serif;
}
/*************/
/*assignments*/
/*************/

.categoryMyAss{
  display:inline-block;
}
.categoryMyAss{
    text-decoration: none;
    display:inline-block;
    margin:1em 1em;
    color:#ffffff;
    font-weight: bold;
    
     
}
.categoryMyAss a{
      text-decoration: none;
    display:inline-block;
    margin:0em .51em;
    color:#495057;
    font-weight: bold;
    font-size:12px;
    width:12.1em;
}
.categoryMyAss a:hover, .categoryMyAss li .active{
   color:#191414;
    border-bottom: 3px solid #191414;
    border-radius:0;
}
 .assDisplay {
    
    height: 70%;
    width: 100%;
    margin: 1em 0!important;
    padding: 0em;
    overflow-y: auto;
    }
.myAssRight{
    float:right;
    display:inline-block;
}
  .jobContent{
      
    } 
    .jobContent:nth-of-type(even){
       
    }
    .jobContent img{
     
        
    }    
    .jobTitle{
         
       
    }
 .jobContentMyAss{
    display: inline-block;
       width:100%;
       background-color: #e6e6e6;
       color:#191414;
       padding-bottom:10px;
    } 
.jobContentMyAss:nth-of-type(even){
     background-color: #dee2e6;
    }
.jobContentMyAss img{
       float:left;
        margin:1em;
        margin-bottom:2em;
        height:4em;
    }    
.jobTitleMyAss{
      font-weight:700;
        font-size:24;
    }
.jobSubMyAss, .jobDescription{
       
        
    } 
    .messageRight{
        float:right;
    }
/****************/
/***About*****/
.about{
    margin:0 auto;
    text-align:center;
    background-color: #fff;
    margin-top: 15%;
    color:#000;
    padding:0 2em;
}
/****************/
/***contact*****/
.contact{
    margin:0 auto;
    text-align:center;
    background-color: #fff;
    margin-top: 4.5em;
}
.contactBtn{
    background-color: #191414;
    border-radius:0;
    border:0;
}

</style>
<body>
   <button class="geomap"></button>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- Sidenav -->
  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand pt-0" href="./index.html">
        <img src="../../assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
      </a>
      <!-- User -->
      <ul class="nav align-items-center d-md-none">
        <li class="nav-item dropdown">
          <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ni ni-bell-55"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src="../../assets/img/theme/team-1-800x800.jpg">
              </span>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">Welcome!</h6>
            </div>
            <a href="./examples/profile.html" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>My profile</span>
            </a>
            <a href="./examples/profile.html" class="dropdown-item">
              <i class="ni ni-settings-gear-65"></i>
              <span>Settings</span>
            </a>
            <a href="./examples/profile.html" class="dropdown-item">
              <i class="ni ni-calendar-grid-58"></i>
              <span>Activity</span>
            </a>
            <a href="./examples/profile.html" class="dropdown-item">
              <i class="ni ni-support-16"></i>
              <span>Support</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#!" class="dropdown-item">
              <i class="ni ni-user-run"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="./index.html">
                <img src="../../assets/img/brand/blue.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Form -->
        <form class="mt-4 mb-3 d-md-none">
          <div class="input-group input-group-rounded input-group-merge">
            <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="fa fa-search"></span>
              </div>
            </div>
          </div>
        </form>
        <!-- Navigation -->
       <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/index">
              <i class="ni ni-tv-2 text-primary"></i> Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/inbox">
              <span id='msg' class="badge badge-white" style="color:blue;"></span>
              <i class="fas fa-envelope"></i>Messages
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/notifications">
              <span id='notification' class="badge badge-white" style="color:blue;"></span>
              <i class="fas fa-bell"></i>Notifications
              
            </a>
          </li>
 
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading text-muted">My account</h6>
        <!-- Navigation -->
       
      </div>
    </div>
  </nav>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
   
      <div class="container">
    <div class="row appContent">
     
         
        <div class="col--lg-9 col-sm appOuter">

            <div id="boxMsgs" class="boxMsgs">
                            <h2 class="titleGreen">Messages</h2>
                    <div id="socketError"class="alert alert-danger none" role="alert">

                  </div>
                
                
                <div id="socketSuccess"class="alert alert-success none" role="alert">
                    
                 </div>
               <div id="accordion">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                  
                      </h5>
                    </div>
                
                    <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
          
                    </div>
                  </div>
                  <!---other messages -->
                  <% if(conversations.length<1){%>
                  No messages currently
                  <%}%>
            <% conversations.forEach(function(conversation,i){%>
          
            <% var threadFor;%>
            <% var once =0; ;%>
            <% if(conversation.party1===currentUser.username){threadFor=conversation.party2}else{threadFor=conversation.party1}%>
            <%if(threadFor===tfor){var collapse='show';}else{collapse=''}%>
                 <div class="card">
                    <div class="card-header" id="heading<%=i%>">
                      <h5 class="mb-0">
                        <button id="threadBtn<%=conversation._id%>" for="<%=threadFor%>" class="btn btn-link snipButton " trigger="scroll<%=conversation._id%>" data-toggle="collapse" data-target="#drop<%=conversation._id%>" aria-expanded="false" aria-controls="collaps<%=i%>">
                             <div  class="snippet">
                                      <img  class="snipName" src="https://ui-avatars.com/api/?rounded=true&name=<%=threadFor%>&font-size=0.45&background=292b2d&size=90&color=ffffff">
                                       <span class="snipText"> 
                                     <br>
                                      <%=capitalize(threadFor)%>
                                      <input readonly class="none ifOnline"  value="<%=threadFor%>">
                                     
                                       </span>
                                       <br>
                                     
                                        <span id="newMessage<%=conversation._id%>" class="badge badge-pill badge-success none unreadDB2"></span>
                                      <span class="msgTime"><%=moment(conversation.lastActivity).format('MMM Do')%></span>
                                     <span  id="<%=threadFor%>Status" class="onlineStatus">Offline</span>
                            </div>
                        </button>
                      </h5>
                    </div>
                
                    <div id="drop<%=conversation._id%>" class="collapse <%=collapse%>" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                         <div id="<%=conversation._id%>tMsg" class="tMsg scroll<%=conversation._id%>">
                           <% fullConversations.forEach(function(messages,i){%>
                           <%if(messages.length>0){%>
                          
                           <%messages.forEach(function(msg){%>
                          
                           <%if (msg.conversationId==conversation._id){%>
                        
                           <%if(msg.from===currentUser.username){%>
                           <li class="eachTMsgMe">
                           <%=msg.msg%><br><span class="msgTime"><%=moment(msg.createdAt).format(' h:mm a')%></span>
                           </li>
                            <% }else{%>
                              <li class="eachTMsg">
                               <%=msg.msg%><br><span class="msgTime"><%=moment(msg.createdAt).format(' h:mm a')%></span>
                                 </li>
                            <% }%>
                            <% }%>
                           
                          
                         
                            
                            
                             <% });%>
                            <% }%>
                            <% });%>
                         </div> 
                         <div class="tSend">
                           <form class="tInline" >
                               <textarea id="<%=conversation._id%>textarea" placeholder="Type your message here.." required  name="msg" class="tTextArea"></textarea>
                                <input readonly class="none" name="msgTo" value="<%=threadFor%>">
                                <input readonly class="none" name="CId" value="<%=conversation._id%>">
                             
                               <input type="submit" value="Send" class="btn btn-primary tSubmit">
                            </form>       
                         </div>
                      </div>
                    </div>
                </div>
            <% });%>    
            <!---other messages -->
            
             
            </div>
             
            
            </div>    
          
  
        </div>
    </div>
 <div class="container">>
     
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              © 2018 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Chirchir</a>
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
              </li>
              
              <li class="nav-item">
                <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
              </li>
              <li class="nav-item">
                <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="../../assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="../../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Optional JS -->
  <script src="../../assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="../../assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <!-- Argon JS -->
  <script src="../../assets/js/argon.min.js?v=1.0.0"></script>
<script src="/socket.io/socket.io.js"></script>
<script async src="../../scripts/socket.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
        crossorigin="anonymous"></script>
<script  src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src='https://cdn.rawgit.com/admsev/jquery-play-sound/master/jquery.playSound.js'></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
     
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
        crossorigin="anonymous"></script>
<script  src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src='https://cdn.rawgit.com/admsev/jquery-play-sound/master/jquery.playSound.js'></script> 

  
     <script>
    
     /**Submit search**/
    //   $('#search').keyup(function(){
    //           var x=$('#searchForm');
    // x.attr('action','/app/search?search='+$('#search').val());
    //   });
     
     $('#search').keypress(function (e) {
            if (e.which == 13) {
                 $('#searchFrom')[0].submit();
                 }
    });
     /*Upload form*/
     $('#uploadJob').submit(function(){
         $('#uploadBtn').fadeOut();
         $('#uploadSpinner').fadeIn();
     });
     /*function to display error*/
     var feedback = function(t,c){
         console.log('feedback called');
         if(t==="error"){
           $('#socketError').html(c);  
           $('#socketError').fadeIn(); 
           setTimeout(function(){
               $('#socketError').fadeOut();
           },3000);
         }
         else if(t==="success"){
           $('#socketSuccess').html(c);  
           $('#socketSuccess').fadeIn();  
            setTimeout(function(){
               $('#socketSuccess').fadeOut();
           },5000);
         }
     }
      /*function to scroll to bottom*/ 
      var scrollToBottom = function(thread){
          console.log('scroll 0' + thread)
      var chat = $(thread);
      var newMessage = chat.children('li:last-child');
      var clientHeight = chat.prop('clientHeight');
      var scrollTop = chat.prop('scrollTop');
      var scrollHeight = chat.prop('scrollHeight');
      var newMessageHeight = newMessage.innerHeight();
      var lastMessageHeight = newMessage.prev().innerHeight();

      if(clientHeight + scrollTop + newMessageHeight + lastMessageHeight >= scrollHeight){
          chat.scrollTop(scrollHeight);
      }
      } 
      var scrollToBottom2 = function(thread){
          console.log('scroll 0' + thread)
      var chat = $(thread);
      var newMessage = chat.children('li:last-child');
      var clientHeight = chat.prop('clientHeight');
      var scrollTop = chat.prop('scrollTop');
      var scrollHeight = chat.prop('scrollHeight');
      var newMessageHeight = newMessage.innerHeight();
      var lastMessageHeight = newMessage.prev().innerHeight();

          chat.scrollTop= chat.scrollHeight;
      
      }
    
      //Online variable
      if(window.location.pathname ==="/inbox"){
          var x = $('.ifOnline');
               var checkOnline = [];
      }
     //Socket io
      var socket = io();
      var user = {
          'username':'<%=currentUser.username%>'
      };
      socket.on('connect',function(){
           socket.emit('add-user',user);
           if(window.location.pathname ==="/inbox"){
             
               x.each(function(){
                  var user = $(this).val();
                
                  checkOnline.push(user);
                   });
               console.log(checkOnline);
               socket.emit('get-online-users',checkOnline);
           }
      });
     
     //Updating online users
     socket.on('update-online-users',function(onlineData){
          if(window.location.pathname ==="/inbox"){
         console.log(onlineData);
            checkOnline.forEach(function(user){
                  $('#'+user+'Status').html('Offline');
            });
          onlineData.forEach(function(user){
              var y = checkOnline.indexOf(user.user);
             
              if(y!=-1){
                  console.log('update online of ' + user.user);
                  if(user.status==='online'){
                      $('#'+user.user+'Status').html('<span class="onlineGreen"><i class="fas fa-circle faa-flash animated faa-slow"></i>&nbsp&nbspOnline</span>');
                  }else{
                         $('#'+user.user+'Status').html('Offline');
                  }
              }
          });
          }
     });
     //Scrolling tMsg to bottom
    //  $('.tMsg').each(function(){
       
    //     var scrollTop = $(this).prop('scrollTop');
    //     var scrollHeight = $(this).prop('scrollHeight');
    //       $(this).scrollTop(scrollHeight);
    //  });
    //Placing bid from outside
    var forms =  $('.bidForms');

        $('.bidForms').each(function(){
            $( this ).submit(function(e){
                e.preventDefault();
                var  id = $( this ).find('input[name="assignmentId"]').val();
                var  postedBy =$( this ).find('input[name="assignmentPoster"]').val();
                var amount = $( this ).find('input[name="bidAmount"]').val();
            
                console.log(' post bid of  assignment '  + id + ' uploaded by ' +postedBy  + ', bidder: ' + user.username);
               var bidData ={
                   'assignmentId':id,
                   'postedBy':postedBy,
                   'bidder':user.username,
                   'amount':amount
               } ;
              
               socket.emit('bid-placed',bidData,function(fbt,fbc){
                   console.log(fbt,fbc);
                  
                   if(fbt ==="success"){
                    location.reload();
                       
                   }
                    feedback(fbt,fbc);
               });
            });
        });
    //Placing bid in preview
    $('#bidInPreview').submit(function(e){
         e.preventDefault();
         var amount = $( this ).find('input[name="bidAmount"]').val();
         var  id = $( this ).find('input[name="assignmentId"]').val();
                var  postedBy =$( this ).find('input[name="assignmentPoster"]').val();
                var amount = $( this ).find('input[name="bidAmount"]').val();
            
                console.log(' post bid of  assignment '  + id + ' uploaded by ' +postedBy  + ', bidder: ' + user.username);
                 var bidData ={
                   'assignmentId':id,
                   'postedBy':postedBy,
                   'bidder':user.username,
                   'amount':amount
               } ;
               
               socket.emit('bid-placed',bidData,function(fbt,fbc){
                   console.log(fbt,fbc);
                  
                   if(fbt ==="success"){
                    location.reload();
                       
                   }
                    feedback(fbt,fbc);
               });
    });
    //Accepting bid
            $('.acceptBid').each(function(){
            $( this ).submit(function(e){
                e.preventDefault();
                var  from = $( this ).find('input[name="bidFrom"]').val();
                var assId =$( this ).find('input[name="assId"]').val();
                var amount = $( this ).find('input[name="amount"]').val();
            
                console.log(' accept bid of  '  + amount + ' from ' + from + ' for ' +assId);
               var acceptData ={
                   'assignmentId':assId,
                   'postedBy':user.username,
                   'bidder':from,
                   'amount':amount
               } ;
              
               socket.emit('accept-bid',acceptData,function(fbt,fbc){
                   console.log(fbt,fbc);
                  
                   if(fbt ==="success"){
                    location.reload();
                       
                   }
                    feedback(fbt,fbc);
               });
            });
        });
    //When new bid is placed.
   
    //When bid is accepted
      socket.on('accept-message',function(MsgInfo){
            console.log(MsgInfo);
            $('#boxMsgs').prepend(
              '<div  class="msg">'
                    
               +' <h4>'+ MsgInfo.from+' has accepted your bid of <b>'+ MsgInfo.amount + ' KES</b> for your '+ MsgInfo.for+' assignment</h4>'
              +'  <p><a href="/app/work"><input class="btn btn-primary preview" value="My assignments" > &nbsp&nbsp<span class="badge badge-primary">New</span></a><span class="msgTime">'+moment(MsgInfo.createdAt).subtract(1).fromNow()+'</span><p>'
           
                +'</div> '
             );1
             $.playSound("/sounds/Twinkle.ogg");
                if(window.location.pathname!="/inbox"){
                 newNo++;
             $('#newMessage').html(newNo);
             $('#newMessage').fadeIn();
             $('#newMessage').html(newNo);
             $('#newMessage').fadeIn();
             $('#newMessageM').html(newNo);
             $('#newMessageM').fadeIn();
             $('#newMessageM1').html(newNo);
             $('#newMessageM1').fadeIn();
             $.playSound("/sounds/Twinkle.ogg");
             
             }
        });
     
    //Sending message from inbox
      $('.tInline').each(function(){
            $( this ).submit(function(e){
              console.log("My anem")
                 e.preventDefault();
                 var  from = user.username;
                 var  to = $( this ).find('input[name="msgTo"]').val();
                 var  msg = $( this ).find('textarea[name="msg"]').val();
                
                 var  conversationId = $( this ).find('input[name="CId"]').val();
                console.log('Send message to ' +to+ ' for conversation: '+conversationId);
                console.log('Message: ' + msg);
                var msgInfo = {
                    'from':user.username,
                    'to':to,
                    'conversationId':conversationId,
                    'msg':msg,
                    
                }
                console.log(msgInfo)
                socket.emit('send-message',msgInfo,function(fbt,fbc,sent){
                    //If sent append message
                    if(sent){
                        console.log('message sent');
                        $('#'+msgInfo.conversationId+'tMsg').append(
                            ' <li class="eachTMsgMe">'
                             + msgInfo.msg+'<br><span class="msgTime">'+ moment(msgInfo.createdAt).format(' h:mm a')+'</span>'
                            +'     </li>'
                            );
                        $('#'+msgInfo.conversationId+'textarea').val('');   
             
                         scrollToBottom('#'+msgInfo.conversationId+'tMsg');    
                    }
                      $.playSound("/sounds/pop.mp3");
                });
            });
        });
        //When message is recieved
        var newCount= 0;
        socket.on('receive-message',function(msgInfo){
            console.log('recieving message from '+msgInfo.from);
               $('#'+msgInfo.conversationId+'tMsg').append(
                            ' <li class="eachTMsg">'
                       + msgInfo.msg+'<br><span class="msgTime">'+ moment(msgInfo.createdAt).format(' h:mm a')+'</span>'
                      +'     </li>'
                            );
                $('#'+msgInfo.conversationId+'textarea').val('');
                var x = $( "#drop"+ msgInfo.conversationId ).hasClass( "show" );
                if(!x){
                    newCount++;
                    $( "#newMessage"+ msgInfo.conversationId ).html(newCount);
                    $( "#newMessage"+ msgInfo.conversationId ).fadeIn();
                    $( "#threadBtn"+ msgInfo.conversationId ).click(function(){
                        $( "#newMessage"+ msgInfo.conversationId ).fadeOut();
                      newCount=0;
                         setTimeout(function(){
                              $('#'+msgInfo.conversationId+'tMsg').scrollTop ($('#'+msgInfo.conversationId+'tMsg')[0].scrollHeight); 
                         },500);      
                    });
                    
                    
                }
                $.playSound("/sounds/Twinkle.ogg");
                if(window.location.pathname!="/inbox"){
                 newNo++;
             $('#newMessage').html(newNo);
             $('#newMessage').fadeIn();
             $('#newMessage').html(newNo);
             $('#newMessage').fadeIn();
             $('#newMessageM').html(newNo);
             $('#newMessageM').fadeIn();
             $('#newMessageM1').html(newNo);
             $('#newMessageM1').fadeIn();
             $.playSound("/sounds/Twinkle.ogg");
             
             }
                scrollToBottom('#'+msgInfo.conversationId+'tMsg');
          if(x){ 
                    var readInfo = {
                    for:msgInfo.from,
                    by:user.username
                };
                      socket.emit('read',readInfo,function(fbt,fbt){
                if(fbt='success'){
                    console.log('read updated');
                    
                }
            });
          }
        });
        //Onload scroll to bottom
           setTimeout(function(){
                            $('.tMsg')[0].scrollTop =$('.tMsg')[0].scrollHeight
                         },500);      
                
          //Another scoll
      $('.snipButton').each(function(){
            $(this).on('click',function(){ console.log('clicked');
                      var x =$(this).attr('trigger');
                        setTimeout(function(){
                                      $('.'+x).scrollTop ($('.'+x)[0].scrollHeight); 
                        },500);   
            var element = $(this).find(".unreadDB")
            var unread = Number($(this).find(".unreadDB").text());
            var unread2 = Number($(this).find(".unreadDB2").text());
            if(unread||unread2){
            var readInfo ={
              for:$(this).attr('for'),
              by:user.username
            };
            socket.emit('read',readInfo,function(fbt,fbt){
                if(fbt='success'){
                    console.log('read all messages in db');
                    element.text('');
                    element.fadeOut();
                }
            });
            }
            });
              
            
        });
             
         
     
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWuJ6jjAlCJqpKPvYgvENDFdCUWv-nOe0&callback=initMap">
    </script>
  </script>
    
  <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=111649226022273&ev=PageView&noscript=1" />
  </noscript>

</body>
</html>
