<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>house recommender</title>
  <!-- Extra details for Live View on GitHub Pages -->
  <!-- Canonical SEO -->
  <base href="/">
  <link rel="stylesheet" href="./index.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!--  Social tags      -->
  <!-- End Google Tag Manager -->
  <!-- Favicon -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="./assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="./assets/img/brand/favicon.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="./assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="./assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="./assets/css/argon.min.css?v=1.0.0" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./assets/semantic/dist/semantic.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script src="ejs.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/scripts/index.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
  <script>
// $( document ).ready(()=> {
//       var loc;
//       navigator.geolocation.getCurrentPosition((position)=>{
//           loc=position;
         
//       })
//       console.log(loc)
//       $.ajax({
//                               url: '/',
//                               type: 'GET',
//                               contentType: 'application/json',
//                               dataType: 'json',
//                               data: JSON.stringify(loc),
//                               complete: function() {
//                                     console.log('Process completed!');
//                               },
//                               success: function() {
//                                     ;
//                               },
//                               error: function() {
//                                     console.log('Failed');
//                               }
//                         });
        
     
     
//     })
  </script>
<style type="text/css">/* Chart.js */
@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}
</style></head>

<body>
  <button class="geomap">Please,enable location to proceed</button>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- Sidenav -->
 <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand pt-0" href="/index">
        <img src="./assets/img/brand/blue.jpg"style="width:100px ;height:200px;"class="navbar-brand-img" alt="...">
      </a>
      <span id="time"></span>
      <!-- User -->
      <ul class="nav align-items-center d-md-none">
        <li class="nav-item dropdown">
          <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ni ni-bell-55"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src="<%=currentUser.profilepic%>">
              </span>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">Welcome!</h6>
            </div>
            <a href="/profilr" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>My profile</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="/logout" class="dropdown-item">
              <i class="ni ni-user-run"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="/index">
                <img src="./assets/img/brand/blue.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Form -->
     
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/index">
              <i class="ni ni-tv-2 text-primary"></i> Home
            </a>
          </li>
          <% if(currentUser){%>
                <% if(currentUser.role==='house-Owner'){%>
            <li class="nav-item">
              <a class="nav-link" href="/upload">
                <i class="ni ni-circle-08"></i>
                <span class="nav-link-inner--text">Post an House</span>
              </a>
            </li>
            <% }%>
          <li class="nav-item">
            <a class="nav-link" href="/inbox">
              <span id='msg' class="badge badge-white" style="color:blue;"></span>
              <i class="fas fa-envelope"></i>Messages
            </a>
          </li>
          
        <% }%>
        </ul>
        <!-- Divider -->
      </div>
    </div>
  </nav>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
  <div class="header bg-gradient-primary pb- pt-3 pt-md-8">  
    <nav class="navbar navbar-top navbar-expand-md navbar-dark navbar-fixed" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/">House Reccomender</a>
        <!-- Form -->
       <ul class="navbar-nav ml-auto">
         <%if(!currentUser){%>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="/login">
                <i class="ni ni-planet"></i>
                <span class="nav-link-inner--text">Login</span>
              </a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="/register">
                <i class="ni ni-single-02"></i>
                <span class="nav-link-inner--text">Register</span>
              </a>
            </li>
            <% }%>
        <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
         
           
            <%if(currentUser){%>
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="<%= currentUser.profilepic%>">
                  
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold"><%= currentUser.username%></span>
                </div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
              <div class=" dropdown-header noti-title">
                <h6 class="text-overflow m-0">Welcome!</h6>
              </div>
              <a href="/profile" class="dropdown-item">
                <i class="ni ni-single-02"></i>
                <span>My profile</span>
              </a>
         
              <div class="dropdown-divider"></div>
              <a href="/logout" class="dropdown-item">
                <i class="ni ni-user-run"></i>
                <span>Logout</span>
              </a>
            </div>
          </li>
          <% }%>
        </ul>
      </div>
    </nav>
    <!-- Header -->
    </div>
    <!-- Page content -->
  
    <div class="container-fluid mt-2">
      
      
      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
            <%if(error && error.length>0){ %>
                <div class="alert alert-warning" role="alert">
                      <%= error%>
                </div>
              <% } %>
              <div class="row text-center" style="dispaly:flex; flex-wrap: wrap;">
                  <div class="loader"></div>
                <% houses.forEach((house,i)=>{%>
                    <div class="col-md-4 col-sm-12 house" style="padding-top:20px;padding-left-10px; padding-right:20px; padding-bottom:30px;" data-value=<%=house.location.name %> onclick="window.location.replace('/view_house/<%=house._id%>/view')">
                      <div class="thumbnail gallery">
                
                        <img src="https://source.unsplash.com/random/450x250" style="height:150px;width:150px;">
                        
                          <div class="caption">
                              <h4><%= house.name %></h4>
                               <span class='card-text house-location' data="<%= house.location%>" style="font-size:14px;">Location:<%=house.location.name %></span><br>
                     <% house.house_types.forEach((room,i)=>{%>
                        <span class='card-text' style="font-size:14px;"><%=room.room_type%>:Ksh<%=room.room_cost%>,</span>
                     <% })%>
                          </div>
                          
                     
                  <span class='float-left' style="font-size:12px;"> 
                     <%if(house.comments>0){%><%=house.comments%> reviews<% }else{%> no reviews<% }%>
                  </span>
                   <% var starrate;
                   if(house.rating){
            	   if(house.rating.avg_rating<=1.5){
            	     starrate='star-rating-1';
            	   }else if(house.rating.avg_rating<=2.5){
            	     
            	     starrate='star-rating-2';
            	   }else if(house.rating.avg_rating<=3.5){
            	     starrate='star-rating-3';
            	   }else if(house.rating.avg_rating<=4.5){
            	     starrate='star-rating-4';
            	   }else if(house.rating.avg_rating>4.5){
            	     starrate='star-rating-5'
            	   }else{
            	     starrate='star-rating-0'
            	   }
                   }
            	   %>
            <div class='float-md-right'>
                 <div  class='<%= starrate%>'>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div><span style="font-size:12px;"> <%if(house.rating){%>
                <% if(house.rating.users_rated>=1){%>
                (<%= house.rating.users_rated%>)
                <% } else{%>(0)<% }%></span>  <% }else{%>(0)<% }%>
            </div>
               
                         
                                   <form action="/house/<%=house.postedBy%>/messagedirect" method="POST" class="contact-btn">
                            
                                        <input readonly type="submit" class="btn btn-outline-default btn-sm" value="Message Owner"  size="6">
                             
                                </form>
                         
                      </div>
                </div>
                <% })%>
                <hr>
              </div>
          </div>
          <div class="col-xl-4 mb-4 mb-xl-0 recommendedhouses">
            
                             
             
             <%if(viewed.length>0){%>
             <p><strong>These are what you recently viewed</strong></p>
                 <div class='row'>
                   
             <% viewed.forEach((house,i)=>{%>
              
                     <div class="col-sm-12 recently" style="padding-top:20px;padding-left-10px;  padding-bottom:30px;" data-value=<%=house.location.name %> onclick="window.location.replace('/view_house/<%=house._id%>/view')">
                      <div class="thumbnail gallery" >
                        <% if(house.images.length>0){%>
                        <img src="<%= house.images[0]%>" style="height:150px;width:150px;">
                        <% }else{%>
                           <img src="<%= house.images[0]%>">
                        <% }%>
                          <div class="caption">
                              <h4><%= house.name %></h4>
                               <span class='card-text house-location' data="<%= house.location%>" style="font-size:14px;"><%if(house.location){%>Location:<%=house.location.name %><% }else{%> Nairobi<% }%></span><br>
                     <% house.house_types.forEach((room,i)=>{%>
                        <span class='card-text' style="font-size:14px;"><%=room.room_type%>:Ksh<%=room.room_cost%>,</span>
                     <% })%>
                          </div>
                          
                     
                  <span class='float-left' style="font-size:12px;"> 
                     <%if(house.comments>0){%><%=house.comments%> reviews<% }else{%> no reviews<% }%>
                  </span>
                   <% var starrate;
            	   if(house.rating.avg_rating<=1.5){
            	     starrate='star-rating-1';
            	   }else if(house.rating.avg_rating<=2.5){
            	     
            	     starrate='star-rating-2';
            	   }else if(house.rating.avg_rating<=3.5){
            	     starrate='star-rating-3';
            	   }else if(house.rating.avg_rating<=4.5){
            	     starrate='star-rating-4';
            	   }else if(house.rating.avg_rating>4.5){
            	     starrate='star-rating-5'
            	   }else{
            	     starrate='star-rating-0'
            	   }
            	   
            	   %>
            <div class='float-md-right'>
                 <div  class='<%= starrate%>'>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div><span style="font-size:12px;"> <%if(house.rating.users_rated>=1){%>(<%= house.rating.users_rated%>)<% } else{%>(0)<% }%></span>  
            </div>
               
                         
                                   <form action="/house/<%=house.postedBy%>/messagedirect" method="POST" class="contact-btn">
                            
                                        <input readonly type="submit" class="btn btn-outline-default btn-sm" value="Message Owner"  size="6">
                             
                                </form>
                         
                      </div>
                </div>
                <% })%>
                  <% }%>    
                          </p>
               
        </div>
        </div>


      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-lg-12">
            <div class="copyright text-center text-xl-left text-muted">
              © 2018 <a href="#" class="font-weight-bold ml-1" target="_blank">Chirchir</a>
            </div>
          </div>
          
        </div>
      </footer>
    </div>
  </div>
  <!-- Argon Scripts -->
  <!-- Core -->
  <!--<script src="./assets/vendor/jquery/dist/jquery.min.js"></script>-->
  <script src="./assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Optional JS -->
  <script src="./assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="./assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <!-- Argon JS -->
  <script src="./assets/js/argon.min.js?v=1.0.0"></script>

</script>
  <script> src="/scripts/index.js"</script>
  <script src="/scripts/geoMap.js"></script>
  <script src="/socket.io/socket.io.js"></script>
<script async src="../../scripts/socket.js"></script>
  <script>
   $(document).ready(function(){
     $('.placeh').hide()
      $('.loader').hide()
     $('.contact-btn').hide();     
       $('.locatm').hide();
         $('.housepx').hide();
                               navigator.geolocation.getCurrentPosition(function(position) {
                          console.log('I am in',position)
                        var pos = {
                          lat: position.coords.latitude,
                          lng: position.coords.longitude
                        };
                      $('.placeh').val(JSON.stringify(pos));
                        console.log('Am', $('.placeh').val());
                               })
       $('.house').each(function(){
         
          $(this).on('mouseover',function(){
            $(this).find('p').show();
              $(this).find('.contact-btn').show();
          })
          $(this).on('mouseout',function(){
            $(this).find('p').hide();
             $(this).find('.contact-btn').hide();
          })
          
       })
           $('.recently').each(function(){
          $(this).on('mouseover',function(){
            $(this).find('p').show();
              $(this).find('.contact-btn').show();
          })
          $(this).on('mouseout',function(){
            $(this).find('p').hide();
             $(this).find('.contact-btn').hide();
          })
          
       })
    var geocoder = new google.maps.Geocoder;
        var infowindow = new google.maps.InfoWindow;


      function geocodeLatLng(geocoder, infowindow) {
        var input = $('.house-location').attr('data');
       // var latlngStr = input.split(',', 2);
       console.log(input);
        var latlng = {lat: parseFloat(input.lat), lng: parseFloat(input.long)};
        geocoder.geocode({'location': latlng}, function(results, status) {
          if (status === 'OK') {
            console.log(result);
            if (results[0]) {
              map.setZoom(11);
              var marker = new google.maps.Marker({
                position: latlng,
                map: map
              });
              infowindow.setContent(results[0].formatted_address);
              infowindow.open(map, marker);
            } else {
              window.alert('No results found');
            }
          } else {
            window.alert('Geocoder failed due to: ' + status);
          }
        }); 
}
});

                   
  </script>


</body></html>